
<html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <img src="{{ url_for('video_feed') }}" height="80%">
            </div>
        </div>
    </div>
    <form action = "{{ url_for('upload') }}" method = "POST" 
       enctype = "multipart/form-data">
       <input type = "file" name = "file" />
       <label>Scale</label>
       <input name="scale" value="1">
       <input type = "submit"/>
    </form> 
    <p><a href="{{ url_for('reset') }}">Reset</a></p>
    <p><a href="{{ url_for('set', mthd='sqdiff') }}">TM_SQDIFF</a></p>
    <p><a href="{{ url_for('set', mthd='norm') }}">TM_SQDIFF_NORMED</a></p>
    </body>
</html>